#bu input[type="text"]
{
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	outline:none;
}

#submit_bu {
	cursor:pointer ;
	width:20%;
	border:none;
	background:#0CF;
	color:#FFF;
	padding:10px;
	font-size:15px;
  text-align: center;
	outline:none;
}
