<form id="form-register">
     <fieldset>
       <!-- <legend>Registration form</legend> -->

       <input type="text" id="id-titre" placeholder="Enter le titre" />
       <input type="text" id="id-isbn" placeholder="Enter l'ESBN" />
       <input type="text" id="id-auteur" placeholder="Enter l'auteur" />


       <button id="add_recherche" name="add_recherche" type="button" (click)="recherche()" data-placement="top" title="Rechercher" >Rechercher</button>
     </fieldset>
   </form>

<div class="mat-elevation-z8 col-11" id="matElevation">
    <h1><strong>Liste des livres</strong></h1>
    <table mat-table [dataSource]="livres" *ngIf="livres" >

       <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let livre">{{livre.id}}</td>
      </ng-container>

      <ng-container matColumnDef="created">
       <th mat-header-cell *matHeaderCellDef>created</th>
       <td mat-cell *matCellDef="let livre">{{livre.created}}</td>
      </ng-container>

      <ng-container matColumnDef="updated">
       <th mat-header-cell *matHeaderCellDef>updated</th>
       <td mat-cell *matCellDef="let livre">{{livre.updated}}</td>
      </ng-container>

      <ng-container matColumnDef="titre">
        <th mat-header-cell *matHeaderCellDef>Titre</th>
        <td mat-cell *matCellDef="let livre">{{livre.titre}}</td>
      </ng-container>

      <ng-container matColumnDef="langue_livre">
        <th mat-header-cell *matHeaderCellDef>Langue</th>
        <td mat-cell *matCellDef="let livre">{{livre.langue_livre}}</td>
      </ng-container>

      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef>ISBN</th>
        <td mat-cell *matCellDef="let livre">{{livre.isbn}}</td>
      </ng-container>

      <ng-container matColumnDef="nbr_page">
        <th mat-header-cell *matHeaderCellDef>Nombre page</th>
        <td mat-cell *matCellDef="let livre">{{livre.nbr_page}}</td>
      </ng-container>

      <ng-container matColumnDef="nbr_examplaire">
        <th mat-header-cell *matHeaderCellDef>Nbre examplaire</th>
        <td mat-cell *matCellDef="let livre">{{livre.nbr_examplaire}}</td>
      </ng-container>

      <ng-container matColumnDef="date_achat">
        <th mat-header-cell *matHeaderCellDef>date_achat</th>
        <td mat-cell *matCellDef="let livre">{{livre.date_achat}}</td>
      </ng-container>

      <ng-container matColumnDef="date_parution">
        <th mat-header-cell *matHeaderCellDef>date_parution</th>
        <td mat-cell *matCellDef="let livre">{{livre.date_parution}}</td>
      </ng-container>

      <ng-container matColumnDef="domaine">
        <th mat-header-cell *matHeaderCellDef>domaine</th>
        <td mat-cell *matCellDef="let livre">{{livre.domaine}}</td>
      </ng-container>

      <ng-container matColumnDef="auteur">
        <th mat-header-cell *matHeaderCellDef>auteur</th>
        <td mat-cell *matCellDef="let livre">{{livre.auteur}}</td>
      </ng-container>

      <ng-container matColumnDef="emprunter">
        <th mat-header-cell *matHeaderCellDef>emprunter</th>
        <td mat-cell *matCellDef="let livre">{{livre.emprunter}}</td>
      </ng-container>

      <ng-container matColumnDef="image_livre">
        <th mat-header-cell *matHeaderCellDef>image_livre</th>
        <td mat-cell *matCellDef="let livre">{{livre.image_livre}}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>edit</th>
        <td mat-cell *matCellDef="let livre" (click)="editLivre(livre)">
          <button  mat-icon-button matTooltip="modifier un livre">
            <span class="material-icons">
              edit
            </span>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>edit</th>
        <td mat-cell *matCellDef="let livre" (click)="deleteLivre(livre)">
          <button  id="bt-dele-livre" mat-icon-button matTooltip="supprimer un livre">
            <span class="material-icons">
              delete
            </span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displyedLivresColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displyedLivresColumns;" ></tr>
      </table>
      <div class="row">
        <div class="col-sm-12">
            <mat-paginator [length] = "length" [pageSize]="pageSize" [pageIndex] = "pageIndex" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"></mat-paginator>
        </div>
      </div>
  </div>
