
<form id="form-register" action="" method="post">
     <fieldset id="fieldset-search">
       <input type="text" name="codeEmprunt" [(ngModel)]="model_reseach.codeEmprunt" placeholder="Code livre" />
       <input type="text" name="codeBu" [(ngModel)]="model_reseach.codeBu" placeholder="Code bibliotheque" />
       <input type="text" name="codeBu" [(ngModel)]="model_reseach.codeEmprunt" placeholder="Code adherent" />
       <button id="add_recherche" name="add_recherche" type="button" (click)="rechercher()" data-placement="top" title="Rechercher" >Rechercher</button>
     </fieldset>
</form>

<div class="row">
<div class="col-4">
<div class="container" id="id_fieldset">
  <form class="form-horizontal form-label-left">
    <fieldset class="custom-border">
      <legend class="custom-border">Ajout d'un emprunt</legend>
        <fieldset>
          <select type="select" [(ngModel)]="model_emprunts.bibliotheque" name="bibliotheque"  data-placement="top" title="Ajout d'une bibliotheque">
            <option value="-1">Choisissez votre bibliotheque</option>
            <option *ngFor="let bu of bus" value="{{bu.id}}">{{bu.nom_bu}}</option>
          </select>
        </fieldset>
        <fieldset>
          <select type="select" [(ngModel)]="model_emprunts.codeLivre" name="codeLivre"  data-placement="top" title="Ajout d'un livre">
            <option value="-1">Choisissez le code du livre</option>
            <option *ngFor="let livre of livres" value="{{livre.id}}">{{livre.isbn}}</option>

          </select>
        </fieldset>
        <fieldset>
          <select type="select" [(ngModel)]="model_emprunts.codeAderent" name="codeAderent"  data-placement="top" title="Ajout d'un adherent">
            <option value="-1">Choisissez le code adherent</option>
            <option *ngFor="let emprunteur of emprunteurs" value="{{emprunteur.id}}">{{emprunteur.nom}}</option>

          </select>
        </fieldset>
        <fieldset>
          <input id="date_emprunt" [(ngModel)]="model_emprunts.date_emprunt" name="date_emprunt"  placeholder="jj/dd/yyyy" title="Date emprunt" type="date" tabindex="4" required>
        </fieldset>
        <fieldset>
          <input id="date_retour" [(ngModel)]="model_emprunts.date_retour" name="date_retour"  placeholder="jj/dd/yyyy" title="Date retour" type="date" tabindex="5" required>
        </fieldset>

        <fieldset>
          <button name="submit" type="submit" id="add-emprunt" data-submit="...Sending" (click)="addEmprunt()">Ajouter</button>
          <button id="btn-annuler" type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onNoClick($event)">Annuler</button>
        </fieldset>
    </fieldset>
    </form>
</div>
</div>
<div class="col-8 mat-elevation-z8">
    <h1><strong>Liste des emprunts</strong></h1>
    <table mat-table [dataSource]="dataSourceEmprunts">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let emprunt">{{emprunt.id}}</td>
    </ng-container>

    <ng-container matColumnDef="date_emprunt">
      <th mat-header-cell *matHeaderCellDef>date emprunt</th>
      <td mat-cell *matCellDef="let emprunt">{{emprunt.date_debut}}</td>
    </ng-container>

    <ng-container matColumnDef="date_retour">
      <th mat-header-cell *matHeaderCellDef>date retour</th>
      <td mat-cell *matCellDef="let emprunt">{{emprunt.date_fin}}</td>
    </ng-container>

    <ng-container matColumnDef="bibliotheque">
      <th mat-header-cell *matHeaderCellDef>bibliotheque</th>
      <td mat-cell *matCellDef="let emprunt">{{emprunt.bibliotheque}}</td>
    </ng-container>

    <ng-container matColumnDef="livre">
      <th mat-header-cell *matHeaderCellDef>livre</th>
      <td mat-cell *matCellDef="let emprunt">{{emprunt.livre}}</td>
    </ng-container>

    <ng-container matColumnDef="adherent">
      <th mat-header-cell *matHeaderCellDef>adherent</th>
      <td mat-cell *matCellDef="let emprunt">{{emprunt.adherent}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>edit</th>
      <td mat-cell *matCellDef="let emprunt" (click)="editerEmprunt(emprunt)">
        <span class="material-icons">
        edit
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>delete</th>
      <td mat-cell *matCellDef="let emprunt" (click)="deleteEmprunt(emprunt)">
        <span class="material-icons">
        delete
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displyedEmpruntColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displyedEmpruntColumns;" ></tr>

</table>
<div class="row">
  <div class="col-sm-12">
      <mat-paginator [length] = "length" [pageSize]="pageSize" [pageIndex] = "pageIndex" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>
</div>
</div>
