
table {
  overflow: auto;
  width: 100%;
}
  .table-row:focus {
   background:#87CEFA;
   outline-color: none;
}

 tr.mat-footer-row, tr.mat-row {
    height: 30px;
}

.toolbar-icon-disabled {
  pointer-events: none;
}
.linkDisabled {
  cursor: not-allowed;
}

 th.mat-sort-header-sorted {
  color: black;
}

.table-row:focus mat-cell {
  color:white;
}

#matElevation {
  margin-top:5%;
  margin-left: 5%;
  margin-right: 5%;
}
