
table {
  overflow: auto;
  width: 100%;
}

 .table-row:focus {
   background:#87CEFA;
   outline-color: none;
}

tr.mat-footer-row, tr.mat-row {
    height: 30px;
}

.toolbar-icon-disabled {
  pointer-events: none;
}
.linkDisabled {
  cursor: not-allowed;
}

th.mat-sort-header-sorted {
  color: black;
}

.table-row:focus mat-cell {
  color:white;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 0px;
}

#input-reseash {
  width:50%;
	border:1px solid #CCC;
	background:#FFF;
	margin-top:5%;
  margin-left:30px;
	padding:10px;
  outline:none;
}


#add_adherent
{
 cursor:pointer ;
 width:8%;
 border:none;
 background:#0CF;
 color:#FFF;
 padding:10px;
 font-size:15px;
 text-align: center;
 outline:none;
 margin-left: 2%;
}

#matElevation {
  margin-top:1%;
  margin-left: 3%;
  margin-right: 3%;
}

.col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

fieldset
{
	border: medium none !important;
	margin: 5px;
  padding: 0;
}

#add_recherche
{
 cursor:pointer ;
 width:14%;
 border:none;
 background:#0CF;
 color:#FFF;
 margin:5px;
 padding:10px;
 font-size:15px;
 text-align: center;
 outline:none;
}

#add_adherent
{
 cursor:pointer ;
 width:10%;
 border:none;
 background:#0CF;
 color:#FFF;
 /* margin:5px; */
 padding:10px;
 font-size:15px;
 text-align: center;
 outline:none;
}

#form-register input[type="text"]
{
	width:22%;
	border:1px solid #CCC;
	background:#FFF;
	margin-top:5%;
  margin-left:5px;
	padding:10px;
  outline:none;
}
