<form id="form-register">
     <fieldset>
       <input type="text" id="id-titre" placeholder="CIN" />
       <input type="text" id="id-isbn" placeholder="Nom" />
       <input type="text" id="id-auteur" placeholder="Prenom" />
       <button id="add_recherche" name="add_recherche" type="button" (click)="rechercher()" data-placement="top" title="Rechercher" >Rechercher</button>
       <button id="add_adherent" name="addAdherent" type="button" [routerLink]="['./../adherent']" data-placement="top" title="Ajout des adhérent" >Ajout</button>
     </fieldset>
   </form>
<div class="mat-elevation-z8 col-11" id="matElevation">
    <h1><strong>Liste des adhérents</strong></h1>
    <table mat-table [dataSource]="adherents" *ngIf="adherents" >

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let adherent">{{adherent.id}}</td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>CIN</th>
      <td mat-cell *matCellDef="let adherent">{{adherent.code}}</td>
    </ng-container>

   <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>nom</th>
      <td mat-cell *matCellDef="let adherent">{{adherent.nom}}</td>
    </ng-container>

    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef>prenom</th>
      <td mat-cell *matCellDef="let adherent">{{adherent.prenom}}</td>
    </ng-container>

    <ng-container matColumnDef="date_naissance">
      <th mat-header-cell *matHeaderCellDef>date_naissance</th>
      <td mat-cell *matCellDef="let adherent">{{adherent.date_naissance | date : 'dd/MM/yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="profession">
      <th mat-header-cell *matHeaderCellDef>profession</th>
      <td mat-cell *matCellDef="let adherent">{{adherent.profession}}</td>
    </ng-container>

    <ng-container matColumnDef="sexe">
      <th mat-header-cell *matHeaderCellDef>sexe</th>
      <td mat-cell *matCellDef="let adherent">{{adherent.sexe}}</td>
    </ng-container>

    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef>adresse</th>
      <td mat-cell *matCellDef="let adherent">{{adherent.adresse}}</td>
    </ng-container>

    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef>telephone</th>
      <td mat-cell *matCellDef="let adherent">{{adherent.telephone}}</td>
    </ng-container>

    <ng-container matColumnDef="direction">
      <th mat-header-cell *matHeaderCellDef>direction</th>
      <td mat-cell *matCellDef="let adherent">{{adherent.direction}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>email</th>
      <td mat-cell *matCellDef="let adherent">{{adherent.email}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>edit</th>
      <td mat-cell *matCellDef="let adherent" (click)="editerAdherent(adherent)">
        <span class="material-icons">
        edit
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>delete</th>
      <td mat-cell *matCellDef="let adherent" (click)="deleteAdherent(adherent)">
        <span class="material-icons">
        delete
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displyedadherentColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displyedadherentColumns;" ></tr>

</table>
<div class="row">
  <div class="col-sm-12">
      <mat-paginator [length] = "length" [pageSize]="pageSize" [pageIndex] = "pageIndex" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>
</div>
