
table {
  overflow: auto;
  width: 100%;
}
 .table-row:focus {
   background:#87CEFA;
   outline-color: none;
}

tr.mat-footer-row, tr.mat-row {
    height: 30px;
}

.toolbar-icon-disabled {
  pointer-events: none;
}
.linkDisabled {
  cursor: not-allowed;
}

th.mat-sort-header-sorted {
  color: black;
}

.table-row:focus mat-cell {
  color:white;
}

#matElevation {
  margin-top:0%;
  margin-left: 5%;
  margin-right: 5%;

}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#0CF;
}

.container {
	text-align: center;
}

#emprunteur input[type="text"],
#emprunteur input[type="email"],
#emprunteur input[type="tel"],
#emprunteur input[type="url"],
#emprunteur textarea,
#emprunteur button[type="submit"]{
   font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
 }

#emprunteur h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#emprunteur h4 {
	margin:5px 15px 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 5px;
  padding: 0;
}

#emprunteur select[type="select"] {
  width:30%;
	border:1px solid #CCC;
	background:#FFF;
	padding:10px;
  outline:none;
}

#emprunteur input[type="text"],
#emprunteur input[type="email"],
#emprunteur input[type="tel"],
#emprunteur input[type="url"],
#emprunteur input[type="datetime-local"],
#emprunteur textarea {
	width:30%;
	border:1px solid #CCC;
	background:#FFF;
	margin:5px;
	padding:10px;
  outline:none;
}

#emprunteur input[type="datetime-local"] {
  width:30%;
  text-align: left;
  outline:none;
 }

#emprunteur button[type="submit"]
{
	cursor:pointer ;
	width:15%;
	border:none;
  margin:5px;
	background:#0CF;
	color:#FFF;
	padding:10px;
	font-size:15px;
  text-align: center;
  outline:none;
}
#emprunteur button[type="button"]{
  cursor:pointer;
	width:15%;
	border:none;
  margin:5px;
	padding:10px;
	font-size:15px;
  text-align: center;
  outline:none;
}
