<div class="container">
  <form id="auteurs" action="" method="post">
    <h3>Gestion des auteurs</h3>
    <h4>Ajout où modification d'un auteur!</h4>
    <fieldset>
      <input name="nom" [(ngModel)]="model_auteur.nom" placeholder="Nom auteur" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input name="prenom" [(ngModel)]="model_auteur.prenom" placeholder="Prenom auteur" type="text" tabindex="2" required>
    </fieldset>

    <fieldset>
      <input name="date_naissance" [(ngModel)]="model_auteur.date_naissance" type="datetime-local" tabindex="3" title="Date de naissance" placeholder="DD/MM/YYYY HH:mm" required>
      <!-- <input type="datetime-local" name="date_naissance" [(ngModel)]="model_adherent.date_naissance" placeholder="DD/MM/YYYY" title="date de naissance" tabindex="4" required> -->

    </fieldset>
    <fieldset>
      <input name="email" [(ngModel)]="model_auteur.email" placeholder="Email auteur" type="email" tabindex="4" required>
    </fieldset>

    <fieldset>
      <input name="nationalite" [(ngModel)]="model_auteur.nationalite" placeholder="Nationalité" type="text" tabindex="5" required>
    </fieldset>
    <fieldset>
      <input name="site" [(ngModel)]="model_auteur.site" placeholder="Site interne de l'auteur" type="url" tabindex="6" required>
    </fieldset>

    <fieldset>
      <button name="submit" class="btn btn-primary" type="submit" id="contact-submit" (click)="addAuteur('add')" data-submit="...Sending">Valider</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="annuler()">Annuler</button>
      <!-- <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="fermer()">Fermer</button> -->

    </fieldset>
  </form>
  </div>

  <div id="matElevation" class="mat-elevation-z8" >
      <h1><strong>Liste des auteurs</strong></h1>
      <table mat-table [dataSource]="auteurs">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let auteur">{{auteur.id}}</td>
      </ng-container>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>nom</th>
        <td mat-cell *matCellDef="let auteur">{{auteur.nom}}</td>
      </ng-container>

      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef>prenom</th>
        <td mat-cell *matCellDef="let auteur">{{auteur.prenom}}</td>
      </ng-container>

      <ng-container matColumnDef="date_naissance">
        <th mat-header-cell *matHeaderCellDef>date_naissance</th>
        <td mat-cell *matCellDef="let auteur">{{auteur.date_naissance | date : 'dd/MM/yyyy HH:mm'}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>email</th>
        <td mat-cell *matCellDef="let auteur">{{auteur.email}}</td>
      </ng-container>

      <ng-container matColumnDef="site">
        <th mat-header-cell *matHeaderCellDef>site</th>
        <td mat-cell *matCellDef="let auteur">{{auteur.site}}</td>
      </ng-container>

      <ng-container matColumnDef="nationalite">
        <th mat-header-cell *matHeaderCellDef>nationalite</th>
        <td mat-cell *matCellDef="let auteur">{{auteur.nationalite}}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>edit</th>
        <td mat-cell *matCellDef="let auteur" (click)="edite(auteur,'edit')">
          <button  mat-icon-button matTooltip="modifier un auteur">
          <i class="material-icons">edit</i>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>delete</th>
        <td mat-cell *matCellDef="let auteur" (click)=deleteAutor(auteur)>
          <button  mat-icon-button matTooltip="supprimer un auteur">
          <i class="material-icons">delete</i>
          </button>

        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displyedAuteurColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displyedAuteurColumns;" ></tr>

  </table>
  <div class="row">
    <div class="col-sm-12">
        <mat-paginator [length] = "length" [pageSize]="pageSize" [pageIndex] = "pageIndex" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"></mat-paginator>
    </div>
  </div>
  </div>
