<div id="div_menu">
  <nav class="dropdownmenu">
  <ul>
    <li id="id_home"><a href="">Acueil</a></li>
    <li><a href="#">Bibliotheque</a>
      <ul id="submenu">
        <li><a [routerLink]="['gestion-livre']">Gerer les livres</a></li>
        <li><a [routerLink]="['gerer-adherent']">Gerer adherents</a></li>
        <li><a [routerLink]="['/home']">Gerer les emprunt</a></li>
      </ul>
    </li>
    <li><a [routerLink]="['/home/user']">Gerer utilisateur</a></li>
    <li><a href="">Contact nous</a></li>
  </ul>
</nav>
</div>
