<div id="div_menu">
  <nav class="dropdownmenu">
  <ul>
    <li id="id_home"><a href="">Acueil</a></li>
    <li><a href="#">Bibliotheque</a>
      <ul id="submenu">
        <li><a href="livre">Auteur</a></li>
        <li><a href="domaine">Domaine</a></li>
        <li><a href="livres">Livres</a></li>
        <li><a href="emprunts">Emprunts</a></li>
        <li><a href="emprunteurs">Emprunteurs</a></li>
      </ul>
    </li>
    <li><a href="">News</a></li>
    <li><a href="">Contact nous</a></li>
  </ul>
</nav>
</div>
