
table
{
  overflow: auto;
  width: 100%;
}
 .table-row:focus
 {
   background:#87CEFA;
   outline-color: none;
}

tr.mat-footer-row, tr.mat-row
{
    height: 30px;
}

.toolbar-icon-disabled
{
  pointer-events: none;
}
.linkDisabled
{
  cursor: not-allowed;
}

th.mat-sort-header-sorted
{
  color: black;
}

.table-row:focus mat-cell
{
  color:white;
}

#matElevation
{
  margin-top:5%;
  margin-left: 2%;
  margin-right: 2%;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#0CF;
}

.container
{
	max-width:70%;
	width:50%;
	margin:0 auto;
	position:relative;
}

#livres input[type="text"],
#livres input[type="file"],
#livres button[type="submit"]
{
 font:400 12px/16px "Open Sans",
  Helvetica, Arial, sans-serif;

}

#livres
{
  text-align: center;
	padding:2%;
}

h3
{
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
  text-align:center;
}

bt-dele-livre
{
  display: block;
  outline:none;
	border:0px solid #CCC;
}

h4
{
	color: #F96;
	display: block;
	font-size: 20px;
	font-weight: 400;
  text-align:center;
}

#livres h4
{
	margin:5px 15px 15px;
	display:block;
	font-size:13px;
}

fieldset
{
	border: medium none !important;
	margin: 0 0 5px;
  padding: 0;
}

#livres input[type="text"],
#livres input[type="file"]
{
	width:50%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
  outline:none;
}

#livres select[type="select"]
{
  width:40%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
  outline:none;
}

 #add_domaine
 {
  cursor:pointer ;
  width:9%;
  border:none;
  background:#0CF;
  color:#FFF;
  margin:5px;
  padding:10px;
  font-size:15px;
  text-align: center;
  outline:none;
}

#date_parution
{
  width:25%;
  text-align: left;
  border:1px solid #CCC;
  background:#FFF;
  margin:5px;
  padding:1%;
  outline:none;
}

#date_achat
{
 width:24%;
 text-align: left;
 border:1px solid #CCC;
 background:#FFF;
 margin:5px;
 padding:1%;
 outline:none;
}

#contact-submit
{
	cursor:pointer ;
	width:20%;
	border:none;
	background:#0CF;
	color:#FFF;
	padding:10px;
	font-size:15px;
  text-align: center;
  outline:none;
}
