
table
{
  overflow: auto;
  width: 100%;
}
 .table-row:focus
 {
   background:#87CEFA;
   outline-color: none;
}


.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    color: #343a40;
    text-shadow: 0 1px 0 #fff;
    opacity: 5;
  }

tr.mat-footer-row, tr.mat-row
{
    height: 30px;
}

.toolbar-icon-disabled
{
  pointer-events: none;
}
.linkDisabled
{
  cursor: not-allowed;
}

th.mat-sort-header-sorted
{
  color: black;
}

.table-row:focus mat-cell
{
  color:white;
}

#matElevation
{
  margin-top:5%;
  margin-left: 2%;
  margin-right: 2%;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#0CF;
}

.container {
	text-align: center;
}

#livres input[type="text"],
#livres input[type="file"],
#livres input[type="select"],
#livres input[type="datetime-local"],
#livres button[type="submit"]
{
 font:400 12px/16px "Open Sans",
  Helvetica, Arial, sans-serif;
}

#livres
{
  text-align: left;
	padding:2%;
}

#id-auteur,#id-domaine ,#id-bibliotheque{
  width:35%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
  outline:none;
}

#livres input[type="text"],
#livres input[type="file"]
{
	width:40%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
  outline:none;
}

#date_parution
{
  width:20%;
  text-align: left;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:1%;
  outline:none;
}

#date_achat
{
 width:20%;
 text-align: left;
 border:1px solid #CCC;
 background:#FFF;
 margin:0 0 5px;
 padding:1%;
 outline:none;
}

h3
{
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
  margin-left:40%;
}

bt-dele-livre
{
  display: block;
  outline:none;
	border:0px solid #CCC;
}

h4
{
	color: #F96;
	display: block;
	font-size: 20px;
	font-weight: 400;
  text-align:center;
  /* margin-left:40%; */
}

#livres h4
{
	margin:5px 15px 15px;
	display:block;
	font-size:13px;
}

fieldset
{
	border: medium none !important;
	margin: 0 0 5px;
  padding: 0;
  text-align: center;
}

 #add_domaine
 {
  width: 5%;
  cursor:pointer ;
  border:none;
  background:#0CF;
  color:#FFF;
  margin:5px;
  padding:10px;
  font-size:15px;
  text-align: center;
  outline:none;
}

#btn-valider
{
	cursor:pointer ;
	width:10%;
	border:none;
	background:#0CF;
	color:#FFF;
	padding:10px;
	font-size:15px;
  text-align: center;
  outline:none;
  margin: 5px;
}

#btn-annuler {
  	cursor:pointer ;
  	width:10%;
  	border:none;
  	font-size:15px;
    text-align: center;
    outline:none;
    margin: 5px;
}
